﻿        html, body {
            width: 100%;
            height: 100%;
        }

        .full-width {
            width: 100%;
            background-color: #0058A8;
        }

        .page-shade {
            background-color: rgba(204, 204, 204, 0.36);
        }


        .stripe {
            height: 5px;
            background-color: #ccc;
        }
        
        
      .courseFocus{
          
          cursor: pointer;
          transition: 1s all;
      }
      .courseFocus:hover{
          background-color: silver;
      }
      .currentStory{
          outline: 1px silver solid;
          background-color: orange;
          
      }