<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link href="css/foundation.css" rel="stylesheet" />
    <link href="css/socialglyphs/socialglyphs-webfont.css" rel="stylesheet" />
    <link href="css/social-glyphs.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <link href="css/qa-styles.css" rel="stylesheet" />

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="page-shade" ng-app="qaStoreApp">



    <div class="full-width">
      <div class="row" ng-controller="MainCtrl">
          <div class="large-12 columns">


              <nav class="right">
                  <ul class="button-group">
                      <li ng-repeat="link in links"><a ng-click="openPopup.($event)" href={{link.href}} title={{link.tip}} class="button">{{link.label}}</a>
                      </li>
                  </ul>
              </nav>

              <h1>
              <img src="img/qalogo-medium.png" /> {{title}} </h1>

          </div>
      </div>
        </div>
    <div class="stripe"></div>




    <div class="row">


        <div class="large-9 columns" role="content">

            <article>

                <h3><a href="#">Blog Post Title</a></h3>
                <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                <div class="row">
                    <div class="large-6 columns">
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                    </div>
                    <div class="large-6 columns">
                        <img src="http://placehold.it/400x240&text=[img]" />
                    </div>
                </div>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

            </article>

            <hr />

            <article>

                <h3><a href="#">Blog Post Title</a></h3>
                <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                <div class="row">
                    <div class="large-6 columns">
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                    </div>
                    <div class="large-6 columns">
                        <img src="http://placehold.it/400x240&text=[img]" />
                    </div>
                </div>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

            </article>

        </div>






        <aside class="large-3 columns">

            <h5>Categories</h5>
            <ul class="side-nav">
                <li><a href="#">News</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Fun</a></li>
                <li><a href="#">Weasels</a></li>
            </ul>

            <div class="panel">
                <h5>Featured</h5>
                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
                <a href="#">Read More →</a>
            </div>

        </aside>


    </div>



    <div class="stripe"></div>
    <div class="full-width" >
       <footer class="row">
        <div class="large-12 columns">

            <div class="row">

                <div class="large-12 columns">
                    <div class="social ">
                        <h2 class="social">
                            <a href="#" title="twitter">t</a>
                            <a href="#" title="pintrest">e</a>
                            <a href="#" title="G+">h</a>
                            <a href="#" title="BeBo">b</a>
                            <a href="#" title="Blogger">B</a>
                            <a href="#" title="Facebook">f</a>
                            <a href="#" title="LinkedIn">i</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/servicesCtrl.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
