<!DOCTYPE html>

<!-- initalise app -->
<html class="no-js" ng-app="rootApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.min.css">
  <link href="css/foundation.css" rel="stylesheet" />
  <link href="css/socialglyphs/socialglyphs-webfont.css" rel="stylesheet" />
  <link href="css/social-glyphs.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/main.css">
  <link href="css/qa-styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="../bower_components/angular-ui-grid/ui-grid.css" media="screen" title="no title" charset="utf-8">

  <script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>

<body class="page-shade">

  <div class="" ng-app="qaStoreApp">
    <div ng-controller="MainCtrl">
      <div class="full-width">
        <div class="row">
          <div class="large-12 columns">
            <nav class="right">
              <ul class="button-group">
                <li ng-repeat="link in links"><a ng-click="openPopup.($event)" href={{link.href}} title={{link.tip}} class="button">{{link.label}}</a>
                </li>
              </ul>
            </nav>
            <h1>
              <img src="img/qalogo-medium.png" /> {{title}} </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-app="Courseware" ng-controller="MainXCtrl as x">
    <div class="large-6 columns" >


      <h2>Courses</h2>


      <!--Course in Courses -->
      <!-- <div  ng-repeat="course in main.courses |  orderBy:'title'" ng-click="main.setCurrentCourse(course)" >
            {{course.title}}<br>
            {{course.description}}<br>
            {{course.type}}<br>
            {{course.author}}<br>
            {{course.code}}
            <hr>
       </div> -->

      <div ui-grid="x.gridOptions" class="myGrid"></div>
    </div>

  </div>
  <!-- <div data-coursedir ng-repeat="course in main.courses" ng-click="main.setCurrentCourse(course)" > -->

  <hr />


  </div>



  </div>
  <div class="stripe"></div>
  <div class="full-width">
    <footer class="row">
      <div class="large-12 columns">

        <div class="row">

          <div class="large-12 columns">
            <div class="social ">
              <h2 class="social">
                                <a href="#" title="twitter">t</a>
                                <a href="#" title="pintrest">e</a>
                                <a href="#" title="G+">h</a>
                                <a href="#" title="BeBo">b</a>
                                <a href="#" title="Blogger">B</a>
                                <a href="#" title="Facebook">f</a>
                                <a href="#" title="LinkedIn">i</a>
                            </h2>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')
    </script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/servicesCtrl.js"></script>
    <script src="scripts/course.json" charset="utf-8"></script>
    <script src="scripts/controllers/coursewareService.js"></script>
    <script src="scripts/directives/courseDirective.js"></script>
    <script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
    <script>
      var rootApp = angular.module('rootApp', ['Courseware','qaStoreApp' ])
    </script>
</body>

</html>
