<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="MainControl">
        <div class="">
            <h2>Stories</h2>
            <article ng-repeat="story in feed">
                <h4>{{story.title}}</h4>
                <p>{{story.description}}</p>
            </article>

        </div>
        

    </div>


    <script src="angular.js"></script>
    <script src="app.js"></script>
   
</body>
</html>
