<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link href="css/foundation.css" rel="stylesheet" />
    <link href="css/socialglyphs/socialglyphs-webfont.css" rel="stylesheet" />
    <link href="css/social-glyphs.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <link href="css/qa-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../bower_components/angular-ui-grid/ui-grid.css" media="screen" title="no title" charset="utf-8">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="page-shade" ng-app="qaStoreApp">


    <div class="full-width">
        <div class="row" ng-controller="MainCtrl">
            <div class="large-12 columns">


                <nav class="right">
                    <ul class="button-group">
                        <li ng-repeat="link in links"><a ng-click="openPopup.($event)" href={{link.href}} title={{link.tip}} class="button">{{link.label}}</a>
                        </li>
                    </ul>
                </nav>

                <h1>
                <img src="img/qalogo-medium.png" /> {{title}} </h1>

            </div>
        </div>
    </div>
    <div class="stripe"></div>


    <div class="row">
        <div class="large-12 columns">



            <div class="hide-for-small">
                <div id="featured" ng-controller="HeroCtrl">
                    <img src={{heroImg.imgSrc}} alt={{heroImg.alt}}>

                </div>
            </div>







            <div class="row">
                <div class="small-12 show-for-small">
                    <br>
                    <img src="http://placehold.it/1000x600&text=For Small Screens" />
                </div>
            </div>




        </div>
    </div>
    <br>

    <div class="row">
        <div class="large-12 columns" ng-controller="servicesCtrl">
            <div class="row">



                <div class="large-3 small-6 columns" ng-repeat="service in services">
                    <img src={{service.imgSrc}} alt={{service.description}} title={{service.description}} />
                  <a href="course-list.html{{service.link}}"><h6 class="panel">{{service.description}}</h6></a>

                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="large-12 columns">
            <div class="row">



                <div class="large-8 columns">
                    <div class="panel radius">

                        <div class="row">
                            <div class="large-6 small-6 columns">

                                <h4>Current News</h4>
                                <hr/>
                                <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>

                                <div class="show-for-small" align="center">
                                    <a href="#" class="small radius button">Call To Action!</a>
                                    <br>

                                    <a href="#" class="small radius button">Call To Action!</a>
                                </div>

                            </div>
                            <div class="large-6 small-6 columns">

                                <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros.
                                    Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada
                                    nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor.
                                    Aenean eget ultricies libero.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="large-4 columns hide-for-small">

                    <h4>Get In Touch!</h4>
                    <hr/>

                    <a class="large button expand" href="#">
            Call To Action!
          </a>

          <a class="large button expand" href="course-list.html">
  Recently added courses
</a>

                </div>



            </div>
        </div>
    </div>
    <div class="stripe"></div>
    <div class="full-width">
        <footer class="row">
            <div class="large-12 columns">

                <div class="row">

                    <div class="large-12 columns">
                        <div class="social ">
                            <h2 class="social">
                                <a href="#" title="twitter">t</a>
                                <a href="#" title="pintrest">e</a>
                                <a href="#" title="G+">h</a>
                                <a href="#" title="BeBo">b</a>
                                <a href="#" title="Blogger">B</a>
                                <a href="#" title="Facebook">f</a>
                                <a href="#" title="LinkedIn">i</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')
    </script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/servicesCtrl.js"></script>
    <script src="scripts/course.json" charset="utf-8"></script>

</body>

</html>
