<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link href="css/foundation.css" rel="stylesheet" />
    <link href="css/socialglyphs/socialglyphs-webfont.css" rel="stylesheet" />
    <link href="css/social-glyphs.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <link href="css/qa-styles.css" rel="stylesheet" />

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="page-shade" ng-app="qaStoreApp">



    <div class="full-width">
      <div class="row" ng-controller="MainCtrl">
          <div class="large-12 columns">


              <nav class="right">
                  <ul class="button-group">
                      <li ng-repeat="link in links"><a ng-click="openPopup.($event)" href={{link.href}} title={{link.tip}} class="button">{{link.label}}</a>
                      </li>
                  </ul>
              </nav>

              <h1>
              <img src="img/qalogo-medium.png" /> {{title}} </h1>

          </div>
      </div>
    </div>

    <div class="stripe"></div>

    <div class="row">



        <div class="large-9 push-3 columns">

            <h3>Current News<small>Page subtitle</small></h3>

            <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>

            <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>

            <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>

            <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>

        </div>




        <div class="large-3 pull-9 columns">

            <ul class="side-nav">
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
                <li><a href="#">Section 5</a></li>
                <li><a href="#">Section 6</a></li>
            </ul>

            <p>
                <img src="http://placehold.it/320x240&text=Ad" />
            </p>

        </div>

    </div>


    <div class="stripe"></div>
    <div class="full-width">
        <footer class="row">
            <div class="large-12 columns">

                <div class="row">

                    <div class="large-12 columns">
                        <div class="social ">
                            <h2 class="social">
                                <a href="#" title="twitter">t</a>
                                <a href="#" title="pintrest">e</a>
                                <a href="#" title="G+">h</a>
                                <a href="#" title="BeBo">b</a>
                                <a href="#" title="Blogger">B</a>
                                <a href="#" title="Facebook">f</a>
                                <a href="#" title="LinkedIn">i</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/servicesCtrl.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
