<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/normalize.min.css">
    <link href="css/foundation.css" rel="stylesheet" />
    <link href="css/socialglyphs/socialglyphs-webfont.css" rel="stylesheet" />
    <link href="css/social-glyphs.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <link href="css/qa-styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="../bower_components/angular-ui-grid/ui-grid.css" media="screen" title="no title" charset="utf-8">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="page-shade" ng-app="qaStoreApp" >


    <div class="full-width">
        <div class="row" ng-controller="MainCtrl">
            <div class="large-12 columns">


                <nav class="right">
                    <ul class="button-group">
                        <li ng-repeat="link in links"><a ng-click="openPopup.($event)" href={{link.href}} title={{link.tip}} class="button">{{link.label}}</a>
                        </li>
                    </ul>
                </nav>

                <h1>
                <img src="../img/qalogo-medium.png" /> {{title}} </h1>

            </div>
        </div>
    </div>
    <div class="stripe"></div>

<div class="large-9 push-3 columns">
<form novalidate ng-controller="userCtrl">
      <div class="row">
          <div class="large-4 columns">
            <div class="large-4 columns">
                <label for="email">Email<input type="email" id="email" ng-model="user.email" name="email"></label>
            </div>
            <button ng-click="findUser()" type="button">Lookup email</button>

            <label for="username">User Name
              <input id="username" name="username" ng-model="user.name" type="text"/>
            </label>
          </div>
          <div class="large-4 columns">
          <label>User role
            <select ng-model="user.role">
              <option value="visitor">Visitor</option>
              <option value="trainer">QA Trainer</option>
              <option value="admin">QA Admin</option>
              <option value="booker">Booker</option>
            </select>
            </label>
          </div>
<button type="button" ng-click="updateUser()">Amend</button>
</div>
<div>
  <li ng-repeat="u in users">{{u.email}}</li>
</div>
</form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')
</script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>


<script src="scripts/course.json" charset="utf-8"></script>

<script src="scripts/app.js"></script>
<script src="scripts/user.js"></script>
<script src="scripts/controllers/servicesCtrl.js"></script>
<script src="../bower_components/ui-grid.min.js"></script>

</body>
</html>
